services:
  haproxy:
    restart: always
    container_name: "haproxy-certbot"
    image: thingsboard/haproxy-certbot:2.2.33-alpine3.18
    ports:
      - '80:80'
    volumes:
      - ./haproxy/config:/config
      - ./haproxy/letsencrypt:/etc/letsencrypt
      - ./haproxy/certs.d:/usr/local/etc/haproxy/certs.d
